@font-face {
  font-family: body;
  src: url("../../assets/fonts/Gotu-Regular.ttf");
}

@font-face {
  font-family: title;
  src: url("../../assets/fonts/XiaoWei-Regular.ttf");
}

::-webkit-scrollbar {
		width: 10px;
}

::-webkit-scrollbar-track {
		background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.4);
}
	::-webkit-scrollbar-thumb:hover {
		background: rgba(255, 255, 255, 0.5);
}

@keyframes overlay {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


 /* page specific */

#submit-btn {
  font-family: body;
  line-height: 40px;
  padding: 0px 40px;
  margin: 0px auto;
  cursor: pointer;
  border: 1pt solid #FFF;
  border-radius: 50px;
  transition: 0.5s;
}

#intro {
  margin: 0;
  background-color: rgb(156, 109, 097);
  display: flex;
  flex-direction: column;
}

 #intro .active {
   color: #FFF !important;
   background-color: rgb(156, 109, 097);
   cursor: default;
 }

#gallery {
  margin: 0;
  background-color: rgb(105, 057, 086);
  display: flex;
  flex-direction: column;
}

  #gallery .active {
    color: #FFF !important;
    background-color: rgb(105, 057, 086);
    cursor: default;
  }

  #contact {
    margin: 0;
    background-color: rgb(108, 108, 108);
    display: flex;
    flex-direction: column;
  }

    #contact .active {
      color: #FFF !important;
      background-color: rgb(108, 108, 108);
      cursor: default;
    }


 /* General CSS */

.header {
  background-color: #FFF;
}

.headtitle {
  height: 100%;
  text-align: left;
  vertical-align: middle;
  padding: 20px 20px;
  color: rgb(030, 068, 126);
}

  .headtitle .name {
    padding-top: 20px;
    font-family: title;
    font-size: 40pt;
    cursor: pointer;
  }

  .headtitle .tagline {
    align-content: center;
    font-family: title;
    font-size: 14pt;
    padding-bottom: 20px;
    cursor: pointer;
  }


.Nav {
  width: 100%;
  height: 50px;
  background-color: #FFF;
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

	.Nav img {
		width: 50px;
		height: 50px;
		cursor: pointer;
		transition: 100ms ease;
    margin-left: auto;
    margin-right: auto;
	}

	.Nav .menu {
		display: none;
	}


.nav-link {
  width: 100%;
  padding: 5px 0px;
  text-align: center;
}

  .show {
    display: inline-block !important;
    background-color: inherit;
  }

	.nav-link-btn {
		font-family: body;
		font-size: 20px;
		position: relative;
		line-height: 40px;
    padding: 0px 40px;
    margin: 0px auto;
		cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
	}

    #intro .nav-link-btn {
      color: rgb(156, 109, 097);
    }

    #gallery .nav-link-btn {
      color: rgb(105, 057, 086);
    }

    #contact .nav-link-btn {
      color: rgb(108, 108, 108);
    }

    #intro .nav-link-btn:hover {
      color: #FFF;
      background-color: rgb(156, 109, 097);
    }

    #gallery .nav-link-btn:hover {
      color: #FFF;
      background-color: rgb(105, 057, 086);
    }

    #contact .nav-link-btn:hover {
      color: #FFF;
      background-color: rgb(108, 108, 108);
    }

.hide {
	display: none;
}

.content {
  font-family: body;
  color: #FFF;
  padding: 0px 80px;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
  flex: 1 0 auto;
}

  .content .title {
    font-family: title;
    font-size: 32pt;
  }

  .profile img {
    width: 300px;
    height: 300px;
  }

  .content .profile {
    display: inline-flex;
  }

  .profile p {
    padding-left: 30px;
    margin: 0px;
  }

  .study img {
    width: 200px;
    height: 200px;
  }

  .study span {
    display: inline-block;
  }

  .content figcaption {
    text-align: center;
  }

  .casual a {
    color: inherit;
  }

  .interests figure {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

.footer {
  padding: 20px 0px;
  font-family: body;
  font-size: 10pt;
  background-color: #FFF;
  width: 100%;
  height: 60px;
  display: inline-flex;
  bottom: 0px;
  flex-shrink: 0;
}

  #intro .footer {
    color: rgb(156, 109, 097);
  }

  #gallery .footer {
    color: rgb(105, 057, 086);
  }

  .footer p {
    padding-left: 90px;
  }

  .footer-link {
    position: absolute;
  	height: 40px;
  	right: 90px;
    display: inline-flex;
  }

  .footer-link-btn {
    width: 48px;
    height: 48px;
    font-size: 20px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
  }


  .overlay {
  	position: absolute;
    top: 0px;
    left: 0px;
  	width: 100%;
  	height: 100%;
  	background: rgba(105, 057, 086, 0.8);
  	display: none;
  	overflow-y: scroll;
  	z-index: 20;
    backdrop-filter: blur(5px);
  	-webkit-backdrop-filter: blur(5px);
    text-align: center;
  }

  	.overlay-active {
  		display: block;
  		animation: overlay-on;
  		animation-duration: 300ms;
  	}

    .full-frame {
    	position: relative;
    	display: block;
    	margin: 0px auto;
    	padding: 70px 20px;
    	width: calc(100% - 40px);
    	max-width: 900px;
    }
    	.overlay-active .full-frame {
    		animation: menu-item;
    		animation-duration: 300ms;
    	}

.submit-item {
  line-height: 30px;
}

.pw-submit {
  background-color: inherit;
  color: #FFF;
  font-family: body;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  border: 1pt solid #FFF;
  border-radius: 50px;
}

.art-submit {
  background-color: inherit;
  color: #FFF;
  font-family: body;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  border: 1pt solid #FFF;
  border-radius: 50px;
}

input[type=text] {
  width: 50%;
  line-height: 30px;
  border-radius: 5px;
  cursor: text;
  padding: 0px 10px;
  margin: 8px 0;
}

input[type=password] {
  width: 50%;
  line-height: 30px;
  border-radius: 5px;
  cursor: text;
  padding: 0px 10px;
  margin: 8px 0;
}

input[type=date] {
  width: 50%;
  line-height: 30px;
  border-radius: 5px;
  cursor: text;
  padding: 0px 10px;
  margin: 8px 0;
}

input[type=file] {
  width: 50%;
  line-height: 30px;
  font-family: body;
  padding: 0px 10px;
  margin: 8px 0;
}

  #description {
    width: 50%;
    line-height: 30px;
    border-radius: 5px;
    cursor: text;
    padding: 0px 10px;
    margin: 8px 0;
    height: 60px;
    overflow: scroll;
  }

  .close-btn {
    cursor: pointer;
    font-size: 20pt;
  }
