@font-face {
  font-family: body;
  src: url("../../src/assets/fonts/Gotu-Regular.ttf");
}

@font-face {
  font-family: title;
  src: url("../../src/assets/fonts/XiaoWei-Regular.ttf");
}

::-webkit-scrollbar {
		width: 10px;
}

::-webkit-scrollbar-track {
		background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.4);
}
	::-webkit-scrollbar-thumb:hover {
		background: rgba(255, 255, 255, 0.5);
}


body {
  margin: 0;
  background-color: rgb(156, 109, 097);
  display: flex;
  flex-direction: column;
}

.Nav {
  width: 100%;
  height: 50px;
  background-color: #FFF;
  position: fixed;
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

	.Nav img {
		width: 50px;
		height: 50px;
		cursor: pointer;
		transition: 100ms ease;
    margin-left: auto;
    margin-right: auto;
	}

	.Nav .menu {
		display: none;
	}

	.Nav .search {
		right: 100px;
	}

		.Nav img:active {
			opacity: 0.5;
		}
		.Nav .nav-active {
			opacity: 0.5;
		}


.nav-link {
	position: absolute;
	height: 40px;
  padding: 5px;
	right: 90px;
}

  .show {
    display: block !important;
  }

	.nav-link-btn {
		font-family: body;
		font-size: 20px;
		display: inline-block;
		position: relative;
		line-height: 40px;
		padding: 0px 30px 0px 30px;
    margin-left: 20px;
		cursor: pointer;
		color: rgb(156, 109, 097);
    border-radius: 50px;
    transition: 0.5s;
	}

  .active {
    color: #FFF;
    background-color: rgb(156, 109, 097);
  }

  .nav-link-btn:hover {
    color: #FFF;
    background-color: rgb(156, 109, 097);
  }

.hide {
	display: none;
}

.content {
  font-family: body;
  color: #FFF;
  padding: 0px 80px;
  padding-top: 200px;
  padding-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
  flex: 1 0 auto;
}

  .content .title {
    font-family: title;
    font-size: 32pt;
  }

  .profile img {
    width: 300px;
    height: 300px;
  }

  .content .profile {
    display: inline-flex;
  }

  .profile p {
    padding-left: 30px;
    margin: 0px;
  }

  .study img {
    width: 300px;
    height: 300px;
  }

  .study span {
    display: inline-block;
  }

  .study figcaption {
    text-align: center;
  }

.footer {
  padding: 20px 0px;
  font-family: body;
  font-size: 10pt;
  color: rgb(156, 109, 097);
  background-color: #FFF;
  width: 100%;
  height: 60px;
  display: inline-flex;
  bottom: 0px;
  flex-shrink: 0;
}

  .footer p {
    padding-left: 90px;
  }

  .footer-link {
    position: absolute;
  	height: 40px;
  	right: 90px;
    display: inline-flex;
  }

  .footer-link-btn {
    width: 48px;
    height: 48px;
    font-size: 20px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
  }
